<h3>Articles in Reference Works</h3>

<ul>
    <li>"Law and Economics" and "The Economics of Crime" in The Fortune Dictionary of Economics, 1993, Warner Books, Inc. N.Y.</li>
    <li>"The Just Price" in The New Palgrave: A Dictionary of Economic Theory and Doctrine, John Eatwell, Murray Milgate and Peter Newman, eds. (Macmillan, 1987).</li>
    <li>"Economic Analysis of Law" in The New Palgrave: A Dictionary of Economic Theory and Doctrine, John Eatwell, Murray Milgate and Peter Newman, eds. (Macmillan, 1987)</li>
</ul>
