
<h3>Detailed Course Outlines</h3>

<ul>
    <li>History of Economic Thought, Santa Clara University, Department of Economics, Spring 1998.</li>
    <li>Economic Analysis of Law, Santa Clara University Law School, Spring 1997</li>
    <li>Economic Analysis of Law, Santa Clara University Economics Dept, Spring 1997</li>
    <li>Economic Analysis of Law, Stanford Economics Department, Fall 1996</li>
    <li>Computers, Crime and Privacy, Santa Clara University Law School, Spring 1997</li>
    <li>Computers, Crime and Privacy, Santa Clara University Law, Fall 1995</li>
    <li>Computer Law, Cornell Law School, Fall 1993</li>
    <li>Computer Law, University of Chicago Law, Winter 1993</li>
    <li>Economic Analysis of Law, Santa Clara University Law,Fall 1995</li>
    <li>Economic Analysis of Law, Cornell Law School, Fall 1993</li>
    <li>Solution Unsatisfactory, University of Chicago College, Fall 1992?</li>
</ul>
