
<h3>Book Chapters</h3>

<ul>
    <li>The Case for Privacy in Contemporary Debates in Applied Ethics, Andrew I. Cohen and Christopher Heath Wellman, eds. (Oxford: Blackwell, 2005)</li>
    <li>Economics and Evolutionary Psychology, in Evolutionary Psychology and Economic Theory, Volume 7 (Advances in Austrian Economics), edited by Roger Koppl. </li>
    <li>"Privacy and Technology," in The Right to Privacy, edited by Ellen Frankel Paul, Fred D. Miller, Jr., and Jeffrey Paul, Cambridge University Press, 2000 </li>
    <li>"Anarchy and Efficient Law" in For and Against the State, edited by Jack Sanders and Jan Narveson, forthcoming.</li>
    <li>"Rational Criminals and Profit-Maximizing Police: Gary Becker's Contribution to the Economic Analysis of Law and Law Enforcement" in The New Economics of Human Behavior, Mariano Tommasi and Kathryn Ierulli, editors, Cambridge University Press, 1995, pp. 43-58.</li>
    <li>"Should Medical Care be a Commodity?" Rights to Health Care, Thomas J. Bole III and William Bondeson, eds., Kluwer, 1991.</li>
    <li>Comments on several chapters in Justice Across Generations: What Does It Mean?, American Association of Retired Persons.</li>
    <li>"In Defense of Thomas Aquinas and the Just Price" in St. Thomas Aquinas (1225-1274), Mark Blaug ed., Elgar (1991), reprinted from History of Political Economy.</li>
    <li>"Comments on Rationing Medical Care: Processes for Defining Adequacy," and "Comments on `Rationing and Publicity'" in The Price of Health, George Agich and Charles Begley, eds., Reidel 1986.</li>
    <li>"Love is not Enough" in Survival of Freedom. Eds. Jerry Pournelle and John F. Carr.</li>
    <li>"What Does Optimum Population Mean?" Research in Population Economics, Vol. III (1981), Eds. Simon and Lindert.</li>
    <li>"A Libertarian Perspective on Welfare," with Geoffrey Brennan, in Conceptual and Moral Issues in Welfare Reform, Brown, Johnson and Vernier editors, Rowman and Littlefield 1981.</li>
    <li>"An Unnoticed Stock-Flow Error in the Wealth of Nations," in Liberalism and Less Developed Countries. Eds. M. P. Bhatt and M. S. Triupdi.</li>
    <li>"The Economics of War" in Blood and Iron, Jerry Pournelle, ed.</li>
</ul>

