<h2>Books</h2>

<ul>
    <li>Future Imperfect: Technology and Freedom in an Uncertain World, Cambridge University Press, 2008. Webbed draft.</li>
    <li>Law's Order: An Economic Account, Princeton University Press, Spring 2000. Italian translation also available.</li>
    <li>Hidden Order: The Economics of Everyday Life, Harper-Collins, 1996. Table of Contents and sample chapter (on the economics of crime) available. Also available in German, simplified Chinese, and Japanese translations. Complex Chinese translation forthcoming.</li>
    <li>Price Theory: An Intermediate Text. South-Western (1986, 1990). pdf version. Spanish translation 1993. </li>
    <li>Instructor's manual for Price Theory: An Intermediate Text, 170 pp.</li>
    <li>Programs to teach economic concepts, associated with Price Theory: An Intermediate Text (versions for both Macintosh and MS Dos computers).</li>
    <li>The Machinery of Freedom. Harper and Row (1971), Arlington House (1978), Open Court (1989). French translation 1992, German translation 2003.</li>
    <li>Legal Systems Very Different From Ours (Draft)</li>
</ul>
