<h2>Education</h2>

<ul>
    <li>Harvard University, B.A., 1965 (Chemistry and Physics)</li>
    <li>University of Chicago, M.S., 1967 (Physics), PhD., 1971 (Physics)</li>
</ul>

<h2>Current Employment</h2>

<ul>
    <li>Santa Clara University</li>
    <li>Professor of Law</li>
    <li>1995-</li>
</ul>

<h2>Former Employment</h2>

<h3>University of Chicago Law School</h3>

<ul>
    <li>John M. Olin Faculty Fellow</li>
    <li>1986- 1993,1994- 1995</li>
</ul>

<h3>Cornell Law School</h3>

<ul>
    <li>
        <ul>
            <li>Visiting Professor</li>
            <li>1993-1994</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Olin Scholar</li>
            <li>Fall 1992</li>
        </ul>
    </li>
</ul>

<h3>Tulane University , A. B. Freeman School of Business</h3>

<ul>  
    <li>Associate Professor</li>
    <li>1983- 1986</li>
</ul>

<h3>UCLA, Dept of Economics</h3>

<ul>
    <li>Assistant Professor</li>
    <li>1980-1983</li>
</ul>

<h3>UC Irvine</h3>

<ul>
    <li>Visiting Assistant Professor of Economics</li>
    <li>Winter Quarter 1980</li>
</ul>

<h3>Virginia Polytechnic Institute</h3>

<ul>
    <li>Assistant Professor of Economics</li>
    <li>1976- 1980</li>
</ul>

<h3>University of Pennsylvania School of Public and Urban Policy</h3>

<ul>
    <li>Post Doctoral fellow and Lecturer</li>
    <li>1975-1976</li>
</ul>

<h3>Columbia University</h3>

<ul>
    <li>Research Associate, Physics</li>
    <li>1971-1973</li>
</ul>

<h2>Books</h2>

<ul>
    <li>Future Imperfect: Technology and Freedom in an Uncertain World, Cambridge University Press, 2008. Webbed draft.</li>
    <li>Law's Order: An Economic Account, Princeton University Press, Spring 2000. Italian translation also available.</li>
    <li>Hidden Order: The Economics of Everyday Life, Harper-Collins, 1996. Table of Contents and sample chapter (on the economics of crime) available. Also available in German, simplified Chinese, and Japanese translations. Complex Chinese translation forthcoming.</li>
    <li>Price Theory: An Intermediate Text. South-Western (1986, 1990). pdf version. Spanish translation 1993. </li>
    <li>Instructor's manual for Price Theory: An Intermediate Text, 170 pp.</li>
    <li>Programs to teach economic concepts, associated with Price Theory: An Intermediate Text (versions for both Macintosh and MS Dos computers).</li>
    <li>The Machinery of Freedom. Harper and Row (1971), Arlington House (1978), Open Court (1989). French translation 1992, German translation 2003.</li>
    <li>Legal Systems Very Different From Ours (Draft)</li>
</ul>

<h3>Book Chapters</h3>

<ul>
    <li>The Case for Privacy in Contemporary Debates in Applied Ethics, Andrew I. Cohen and Christopher Heath Wellman, eds. (Oxford: Blackwell, 2005)</li>
    <li>Economics and Evolutionary Psychology, in Evolutionary Psychology and Economic Theory, Volume 7 (Advances in Austrian Economics), edited by Roger Koppl. </li>
    <li>"Privacy and Technology," in The Right to Privacy, edited by Ellen Frankel Paul, Fred D. Miller, Jr., and Jeffrey Paul, Cambridge University Press, 2000 </li>
    <li>"Anarchy and Efficient Law" in For and Against the State, edited by Jack Sanders and Jan Narveson, forthcoming.</li>
    <li>"Rational Criminals and Profit-Maximizing Police: Gary Becker's Contribution to the Economic Analysis of Law and Law Enforcement" in The New Economics of Human Behavior, Mariano Tommasi and Kathryn Ierulli, editors, Cambridge University Press, 1995, pp. 43-58.</li>
    <li>"Should Medical Care be a Commodity?" Rights to Health Care, Thomas J. Bole III and William Bondeson, eds., Kluwer, 1991.</li>
    <li>Comments on several chapters in Justice Across Generations: What Does It Mean?, American Association of Retired Persons.</li>
    <li>"In Defense of Thomas Aquinas and the Just Price" in St. Thomas Aquinas (1225-1274), Mark Blaug ed., Elgar (1991), reprinted from History of Political Economy.</li>
    <li>"Comments on Rationing Medical Care: Processes for Defining Adequacy," and "Comments on `Rationing and Publicity'" in The Price of Health, George Agich and Charles Begley, eds., Reidel 1986.</li>
    <li>"Love is not Enough" in Survival of Freedom. Eds. Jerry Pournelle and John F. Carr.</li>
    <li>"What Does Optimum Population Mean?" Research in Population Economics, Vol. III (1981), Eds. Simon and Lindert.</li>
    <li>"A Libertarian Perspective on Welfare," with Geoffrey Brennan, in Conceptual and Moral Issues in Welfare Reform, Brown, Johnson and Vernier editors, Rowman and Littlefield 1981.</li>
    <li>"An Unnoticed Stock-Flow Error in the Wealth of Nations," in Liberalism and Less Developed Countries. Eds. M. P. Bhatt and M. S. Triupdi.</li>
    <li>"The Economics of War" in Blood and Iron, Jerry Pournelle, ed.</li>
</ul>

<h3>Articles in Reference Works</h3>

<ul>
    <li>"Law and Economics" and "The Economics of Crime" in The Fortune Dictionary of Economics, 1993, Warner Books, Inc. N.Y.</li>
    <li>"The Just Price" in The New Palgrave: A Dictionary of Economic Theory and Doctrine, John Eatwell, Murray Milgate and Peter Newman, eds. (Macmillan, 1987).</li>
    <li>"Economic Analysis of Law" in The New Palgrave: A Dictionary of Economic Theory and Doctrine, John Eatwell, Murray Milgate and Peter Newman, eds. (Macmillan, 1987)</li>
</ul>

<h3>Refereed Journals and Law Reviews</h3>

<ul>
    <li>From Imperial China to Cyberspace: Contracting Without the State. Journal of Law, Economics and Policy, July 2005. [Something between a refereed journal and a law review]</li>
    <li>"Why Not Hang Them All: The Virtues of Inefficient Punishment," Journal of Political Economy, vol. 107, no. 6 1999 pp. S259-269. </li>
    <li>"In Defense of Private Orderings: Comments on Julie Cohen's 'Copyright and the Jurisprudence of Self-Help,'" Berkeley technology Law Journal.</li>
    <li>"Beyond the Tort/Crime Distinction," Boston University Law Review.</li>
    <li>"More Justice for Less Money: A Step Beyond Cimino.," Journal of Law and Economics, April 1996.</li>
    <li>"Making Sense of English Law Enforcement in the Eighteenth Century," The University of Chicago Law School Roundtable (Spring/Summer 1995).</li>
    <li>"Standards As Intellectual Property: An Economic Approach," University of Dayton Law Review, Vol. 19, No. 3, (Spring 1994) pp. 1109-1129.</li>
    <li>"Law as a Private Good," Economics and Philosophy 10 (1994), 319- 327.</li>
    <li>"Rethinking Indigent Defense: Promoting Effective Representation Through Consumer Sovereignty and Freedom of Choice for All Criminal Defendants" with Stephen J. Schulhofer. American Criminal Law Review, Vol 31 nbr 1 (Fall 1993), pp. 73-122.</li>
    <li>"Hanged for a Sheep-The Economics of Marginal Deterrence," with William Sjostrom, Journal of Legal Studies, June, 1993.</li>
    <li>"Should the Characteristics of Victims and Criminals Count? Payne v Tennessee and Two Views of Efficient Punishment," Boston College Law Review XXXIV No.4, pp.731-769 (July 1993).</li>
    <li>"Impossibility, Subjective Probability, and Punishment for Attempts," Journal of Legal Studies XX, (January 1991).</li>
    <li>"An Economic Analysis of Alternative Damage Rules for Breach of Contract," Journal of Law and Economics, vol. XXXII, (October 1989).</li>
    <li>"Diamonds are a Government's Best Friend: Burden-Free Taxes on Goods Valued for Their Values: Comment," American Economic Review, (March 1988), p. 297.</li>
    <li>"Does Altruism Produce Efficient Outcomes? Marshall vs Kaldor." Journal of Legal Studies, 1987 Vol. XVII, (January 1988).</li>
    <li>"Cold Houses in Warm Climates and Vice Versa: A Paradox of Rational Heating." Journal of Political Economy , vol. 95, no. 5 (1987).</li>
    <li>"Efficient Institutions for the Private Enforcement of Law." Journal of Legal Studies, June (1984).</li>
    <li>"What is Fair Compensation for Death or Injury?" International Review of Law and Economics, 2, (1982), pp. 81-93.</li>
    <li>"Why There Are No Risk Preferrers." Journal of Political Economy, 89 (1981).</li>
    <li>"Revenue Sharing and Monopoly Government: A Comment." With Michael Kurth in Public Choice, 37 (1981).</li>
    <li>"Reflections on Optimal Punishment or Should the Rich Pay Higher Fines?," Research in Law and Economics, (1981).</li>
    <li>"Many, Few, One -- Social Harmony and the Shrunken Choice Set." American Economic Review, (March 1980).</li>
    <li>"In Defense of Thomas Aquinas and the Just Price." History of Political Economy, 12:2 (1980).</li>
    <li>"Private Creation and Enforcement of Law -- A Historical Case." Journal of Legal Studies, (March 1979), pp. 399-415.</li>
    <li>"In Defense of the Long Haul-Short Haul Discrimination."The Bell Journal, (1979).</li>
    <li>"A Theory of the Size and Shape of Nations." Journal of Political Economy, (February 1977).</li>
    <li>"Models for Diffraction Scattering with Fixed Pole and Shielding Cut." Il Nuovo Cimento 9A, 219 (1972). (Physics)</li>
    <li>"Fixed Branch Point Model for [[pi]] N Diffraction Scattering." Il Nuovo Cimento X, 63A, 483 (1969). (Physics)</li>
</ul>

<h3>Other Publications</h3>

<ul>
    <li>"Privacy and Technology." Social Philosophy & Policy 17:186-212 (2000) </li>
    <li>"A World of Strong Privacy: Promises and Perils of Encryption," Social Philosophy and Policy</li>
    <li>"A Positive Account of Property Rights," Social Philosophy and Policy 11 No. 2 (Summer 1994) pp. 1-16.</li>
    <li>"The World According to Coase," The Law School Record, University of Chicago Law School; another version was published in Reason (I think); I 'm not sure which version I have linked here.</li>
    <li>"Comment on Peltzman" in Journal of Law and Economics, vol. XXXVI (April 1993), pp. 371-378.</li>
    <li>Review of Reforming Product Liability by W. Kip Viscusi, Journal of Political Economy, 1993, vol 101, no. 3, pp. 554-560.</li>
    <li>"Less Law than Meets the Eye,"a review of Order Without Law, by Robert Ellickson, The Michigan Law Review vol. 90 no. 6, (May 1992) pp.1444-1452.</li>
    <li>"Comment on `An Economic Argument for Affirmative Action,'" in Rationality and Society, Vol. 4 No. 3 (July 1992), pp. 356-369.</li>
    <li>"Choosing Metarules for Legal Change," AEA Papers and Proceedings, Vol. 82 No 2, (May 1992).</li>
    <li>"Some Economics of Trade Secret Law," with William Landes and Richard Posner, Journal of Economic Prospectives, vol. 5, Number 1 (Winter 1991) pp. 61-72.</li>
    <li>"An Economic Explanation of Punitive Damages" in Alabama Law Review, Volume 40 Number 3, Spring 1989, pp. 1125-1142.</li>
    <li>"Law and Economics: What and Why?" Economic Affairs.</li>
    <li>Review of Economic Analysis of Accident Law, by Steven Shavell. Journal of Political Economy 97 (1989).</li>
    <li>"Comment on Constitutional Interpretation: Defining Liberty Under the Constitution"" in Rutgers Law Review, Volume 41 Number 3, Spring 1989, pp. 853-858.</li>
    <li>"Comments on Tie-ins and the Market Provision of Collective Goods" and "Comments on Contracts and Public Goods" in The Harvard Journal of Law and Public Policy, Spring 1987.</li>
    <li>"Comment on Brody" in Social Philosophy and Policy. I (1983).</li>
    <li>"Gold, Paper, or ...: Is There a Better Money?" Cato Institute Policy Analysis, 1982.</li>
    <li>Drugs and Violence, Liberty Magazine, June 2001.</li>
    <li>Review of Icelandic Enterprise: Commerce and Economy in the Middle Ages, by Bruce E. Gelsinger. Journal of Economic History.</li>
    <li>Review of Murder at the Margin, by Marshall Jevons. Public Choice 34 (1979)</li>
    <li>Review of Further Explorations in Anarchy, ed. G. Tullock. Public Choice, 1976.</li>
    <li>"Laissez-Faire in Population: The Least Bad Solution." An Occasional Paper of the Population Council, 1972, 43 pp.</li>
</ul>

<h3>Unpublished Works</h3>

<ul>
    <li>"The Dead Hand:The Influence of Past Elasticity on Present Revenue"</li>
    <li>"Non-Competition Agreements: Some alternative Explanations"</li>
    <li>"Deterring Imperfectly Informed Tortfeasors: Optimal Rules for Penalty and Liability"</li>
    <li>"Bilateral Monopoly: A Solution"</li>
    <li>"A Competitive Model of Exploitive Taxation"</li>
    <li>"Efficiency Gains from Non-Cancellable Contracts For the Provision of Continuing Services"</li>
    <li>"Are Criminals Risk Preferrers? A Belated Comment"</li>
    <li>"Secession"</li>
</ul>

<h3>Detailed Course Outlines</h3>

<ul>
    <li>History of Economic Thought, Santa Clara University, Department of Economics, Spring 1998.</li>
    <li>Economic Analysis of Law, Santa Clara University Law School, Spring 1997</li>
    <li>Economic Analysis of Law, Santa Clara University Economics Dept, Spring 1997</li>
    <li>Economic Analysis of Law, Stanford Economics Department, Fall 1996</li>
    <li>Computers, Crime and Privacy, Santa Clara University Law School, Spring 1997</li>
    <li>Computers, Crime and Privacy, Santa Clara University Law, Fall 1995</li>
    <li>Computer Law, Cornell Law School, Fall 1993</li>
    <li>Computer Law, University of Chicago Law, Winter 1993</li>
    <li>Economic Analysis of Law, Santa Clara University Law,Fall 1995</li>
    <li>Economic Analysis of Law, Cornell Law School, Fall 1993</li>
    <li>Solution Unsatisfactory, University of Chicago College, Fall 1992?</li>
</ul>
