<h3>Unpublished Works</h3>

<ul>
    <li>"The Dead Hand:The Influence of Past Elasticity on Present Revenue"</li>
    <li>"Non-Competition Agreements: Some alternative Explanations"</li>
    <li>"Deterring Imperfectly Informed Tortfeasors: Optimal Rules for Penalty and Liability"</li>
    <li>"Bilateral Monopoly: A Solution"</li>
    <li>"A Competitive Model of Exploitive Taxation"</li>
    <li>"Efficiency Gains from Non-Cancellable Contracts For the Provision of Continuing Services"</li>
    <li>"Are Criminals Risk Preferrers? A Belated Comment"</li>
    <li>"Secession"</li>
</ul>
