@{
    ViewData["Title"] = "Contact";
}

<h2>Office Address</h2>

<address>
  Santa Clara University, School of Law<br />
  Santa Clara, CA 95053<br />
  <abbr title="Phone">P:</abbr>
  (408) 554-5732
</address>

<address>
  <strong>David D. Friedman:</strong> <a href="mailto:DDFr@daviddfriedman.com">DDFr@daviddfriedman.com</a><br />
  <strong>Webpage Maintainer:</strong> <a href="mailto:haleleonj@outlook.com">haleleonj@outlook.com</a>
</address>
