@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="~/images/banner1.svg" alt="non-fiction book special" class="img-responsive" />
      <div class="carousel-caption" role="option">
        <p>
          The <a href="https://www.amazon.com/Machinery-Freedom-Guide-Radical-Capitalism/dp/1507785607/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1405033289&sr=1-1" target="_blank">Third Edition</a> of The Machinery of Freedom is now available for Kindle.
          The second edition is still available for free as both a <a href="http://daviddfriedman.com/The_Machinery_of_Freedom_.pdf">pdf</a> and a <a href="http://daviddfriedman.com/The_Machinery_of_Freedom.prc" target="_blank">MobiPocket</a> e-book file. 
        </p>
      </div>
    </div>
    <div class="item">
      <img src="~/images/banner2.svg" alt="highlighted novels" class="img-responsive" />
      <div class="carousel-caption" role="option">
        <p>
	  The second novel, Salamander, is also available as a <a href="http://www.amazon.com/Salamander-ebook/dp/B004TBD3Z0/ref=sr_1_2?ie=UTF8&m=AG56TWVU5XWC2&s=books&qid=1302837116&sr=1-2" target="_blank">kindle</a> Amazon

	  The first novel, Harald, is available as free <a href="http://www.daviddfriedman.com/harald/Harald_podcasts/Harald%20Podcasts.html" target="_blank">podcasts</a> read by me

	  A <a href="http://www.daviddfriedman.com/Medieval/Bardic_Circle/Virtual_Bardic_Circle.html" target="_blank">Virtual Bardic Circle</a> with some of my storytelling
        </p>
      </div>
    </div>
    <div class="item">
      <img src="~/images/banner3.svg" alt="David D. Friedman's blog" class="img-responsive" />
      <div class="carousel-caption" role="option">
        <p>
	  Read the <a href="http://daviddfriedman.blogspot.com/" target="_blank">blog</a>
        </p>
      </div>
    </div>
    <div class="item">
      <img src="~/images/banner4.svg" alt="quote of the month" class="img-responsive" />
      <div class="carousel-caption" role="option">
	<h3>Quote of the Month</h3>

        <p style="font-size: 0.95em; ">
	  “The president would get a huge symbolic boost with his base while not violating the law and while changing nothing of substance,’’ <a href="https://www.lawfareblog.com/trumps-self-defeating-executive-order-interrogation">Jack Goldsmith</a>, a former head of the Justice Department’s Office of Legal Counsel and a Harvard Law School professor, said in an interview. “He would get maximum symbolic value while doing nothing. Trump’s a genius at this.”
        </p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>David D. Friedman's Home Page</h2>
    <p>This is the home page of David Friedman. Not the Hawaiian artist David Friedman, or the composer David Friedman, or the fix-what's-wrong-with- government David Friedman (050) or the fifteen year old David Friedman or the eighteen year old David Friedman or the legendary film pornographer David Friedman or even the economic journalist David Friedman but the anarchist-anachronist-economist David Friedman.</p>
    <p>Now you know why I included the middle initial.</p>
    <p>This page has links to my work in a variety of areas, published and unpublished. It is still under construction--and always will be.</p>
  </div>
  <div class="col-md-3">
    <h2><a href="http://daviddfriedman.com/Academic/Academic.html">Academic Work</a>: Law and Economics</h2>
    <ul>
      <li><a href="#">Books</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Refereed Journals and Law Reviews</a></li>
      <li><a href="#">Unpublished Works</a></li>
      <li><a href="#">Course Outlines</a></li>
      <li><a href="#"></a>Debates</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h2>Other Projects</h2> 
    <ul>
      <li><a href="#"></a>Blog</li>
      <li><a href="#"></a>Drafts</li>
      <li><a href="http://daviddfriedman.com/Libertarian/Libertarian.html">Libertarian Writing</a></li>
      <li><a href="#"></a>Ideas for Research Projects</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h2>Off the Beaten Path</h2>
    <ul>
      <li><a href="#"></a>Product Requests</li>
      <li><a href="#"></a>Novels</li>
      <li><a href="http://daviddfriedman.com/Family/NewPhotos/Family.html">My Family</a></li>
      <li><a href="http://daviddfriedman.com/Medieval/Medieval.html">Recreational Medievalism</a></li>
    </ul>
  </div>
  <hr />
  <p>My first novel, published by <link href="http://www.amazon.com/gp/product/1416520562/qid=1142500296/sr=1-1/ref=sr_1_1/102-9109682-8244900?s=books&v=glance&n=283155">Baen</a>, is historical fiction set in an invented historical background (or, if you prefer, fantasy without magic). It has a <a href="http://daviddfriedman.com/harald/Harald.html">web page</a> showing the lovely map created for me by Chris Porter. The <a href="http://www.webscription.net/p-196-harald.aspx">book</a> is available as an <a href="http://www.baenebooks.com/p-196-harald.aspx">eBook</a> and in <a href="http://www.amazon.com/gp/product/1416520562/qid=1142500296/sr=1-1/ref=sr_1_1/102-9109682-8244900?s=books&v=glance&n=283155">hardcopy</a>, and I have <a href="http://daviddfriedman.com/harald/Harald_podcasts/Harald%20Podcasts.html">podcasts</a> of the entire book, read by me. Baen also has a webbed <a href="http://www.baen.com/intfriedman.htm">interview</a> with me about the book.</p>

<p>My <a href="http://daviddfriedman.com/Salamander.htm">second novel</a>, this time a fantasy with magic is up on Amazon as a <a href="http://www.amazon.com/Salamander-ebook/dp/B004TBD3Z0/ref=sr_1_2?ie=UTF8&m=AG56TWVU5XWC2&s=books&qid=1302837116&sr=1-2">Kindle</a>. Also archived is the <a href="http://daviddfriedman.com/salamander/College%28Salamander%29.jpg">map</a> of the college in Salamander.</p>

<p>My most recent project is a collection of short works of literature that contain economic ideas. The <a href="http://daviddfriedman.com/Academic/Fictional%20Economics/Embedded%20Economics.html">draft</a> is up for comments as a web page.</p>

<p>I am currently working on a book on legal systems very different from ours; the <a href="http://daviddfriedman.com/Legal%20Systems/LegalSystemsContents.htm">draft</a> is up for comments.</p>

<p>I have now webbed the <a href="http://daviddfriedman.com/Future_Imperfect.html">online</a> version of my most recent book, <a href="http://www.amazon.com/Future-Imperfect-Technology-Freedom-Uncertain/dp/0521877326/ref=sr_1_1?ie=UTF8&s=books&qid=1219603709&sr=1-1">Future Imperfect</a>; comments welcome.  </p>

<p>My book Law's Order: What Economics Has to Do with Law and Why It Matters, published by Princeton University Press, is accompanied by a <a href="http://daviddfriedman.com/laws_order/index.shtml"book web page</a> which contains images of the entire book along with an extensive system of links--think of them as virtual footnotes--to additional material. An <a href="http://daviddfriedman.com/Laws_Order_draft/laws_order_ToC.htm">earlier draft</a> is also webbed, in a somewhat more readable form, but without the links. </p>

<p>An earlier book was Hidden Order: The Economics of Everyday Life, published by Harper-Collins. Click to see the <a href="http://daviddfriedman.com/Academic/Hidden_Order/Hidden_Order_Contents.html>Table of Contents</a> and a <a href="http://daviddfriedman.com/Academic/Hidden_Order/Hidden_Order_Chapter_20.html">sample chapter</a> (on the economics of crime). Copies are available from <a href="http://www.lfb.org/">Laissez-Faire books</a> and <a href="http://www.amazon.com/exec/obidos/ISBN%3D0887307507/spiffynetA/7534-0393703-625700">Amazon</a> as well as many local bookstores. There is even a webbed <a href="http://www.booknotes.org/Watch/74535-1/David+Friedman.aspx">transcript</a> of my appearance on Book Notes discussing the book. German and Japanese translations of the book are also in print. </p>
Click here for the online <a href="http://daviddfriedman.com/Academic/Hidden_Order/Hidden_Order_Errata.html">errata</a>--errors corrected as they come in, starting with Figure 3-1b. 

<p>All of one earlier book of mine, <a href="http://daviddfriedman.com/Academic/Price_Theory/PThy_ToC.html">Price Theory: An Intermediate Text</a>, is available on the web, including the two chapters of the first edition that were left out of the second edition. </p>

<p>All of my first book, The Machinery of Freedom: Guide to a Radical Capitalism (2nd edn) is now webbed, both as a <a href="http://daviddfriedman.com/The_Machinery_of_Freedom_.pdf">pdf</a> and as a <a href="http://daviddfriedman.com/The_Machinery_of_Freedom.prc">MobiPocket</a> e-book file. </p>

<p>Drafts of an articles on <a href="http://daviddfriedman.com/Academic/market_for_students/Market_for_Students.htm">The Market for Students</a> and <a href="http://daviddfriedman.com/Academic/Order_without_the_state/Order_Without_the_State.htm">The Future of Stateless Societies</a>; some years ago I delivered a <a href="http://daviddfriedman.com/Academic/mps_iceland_talk/Iceland%20MP%20talk.htm">paper</a> dealing with market failure and arguments for and against government at the Mont Pelerin Meeting in Reykjavik.</p>

<p>I have just  (4/9/13) webbed a new paper: Feud as Law Enforcement, Ancient and Modern  or  <a href="http://daviddfriedman.com/Academic/FeudThenandNow.html">Why is There a Patent Troll Problem and How Can it be Solved?</a></p>

<p><a href="http://daviddfriedman.com/Miscellaneous/why_getting_smarter.htm">Why We are Getting Smarter: A Conjectural Explanation</a></p>
<p><a href="http://daviddfriedman.com/Miscellaneous/concealed_estrus.htm">A conjectural explanation for concealed ovulation in humans</a></p>
<p><a href="http://daviddfriedman.com/Miscellaneous/ideas_for_research_project.htm">Ideas for research projects in economics that other people might like to do</a></p>
<p><a href="http://daviddfriedman.com/Miscellaneous/past_quotes_of_the_week.htm">Past Quotes of The Week</a>

<p>He teaches at <a href="http://www.scu.edu/">Santa Clara University</a> in the <a href="http://www.scu.edu/law/">Law School</a>.  This spring I am teaching <a href="http://www.daviddfriedman.com/Academic/Course_Pages/L&E%20LS%202017/Law%20and%20Econ%2017.html">Economic Analysis of Law</a>,  and a seminar on <a href="http://daviddfriedman.com/Academic/Course_Pages/Legal%20Systems%202017/legal_systems_v_diff.htm">Legal Systems Very Different From Ours</a>.</p>
 
<p>My wife says that when someone points a camera at me I look as if was facing a firing squad. I am not sure if this (from at talk I gave at Texas Christian University entitled "In Defense of Anarchy") is an improvement.</p>

<p>If you prefer color, <a href="http://daviddfriedman.com/ddfr_iceland_75.htm">this one</a> was taken on a visit to Iceland some years back, and <a href="http://www.mccullagh.org/image/9/david-friedman.html">this</a> was taken, and webbed, by Declan McCullagh. </p>

<p>In October of 1997, I had a televised debate on encryption regulation with Ed Meese. The <a href="http://web.archive.org/web/20030925021822/http://www.hoover.org/Main/uncommon/winter98/205.html">transcript</a> is now webbed. </p>

<p>I can be reached at DDFr@DavidDFriedman.com </p>

<p><a href="http://daviddfriedman.com/stats/">Detailed information</a> on usage of this site.</p>
</div>
